html {
  overflow-x: hidden;
}

.hidden-on-scroll-left {
  opacity: 0;
  transition: all 2s cubic-bezier(0.51, 0.92, 0.24, 1.05);
  filter: blur(3px);
  transform: translateX(-100%);
}

.hidden-on-scroll-right {
  opacity: 0;
  transition: all 2s cubic-bezier(0.51, 0.92, 0.24, 1.05);
  filter: blur(5px);
  transform: translateX(100%);
}

.show-on-scroll-left {
  opacity: 100;
  filter: blur(0);
  transform: translateX(0);
}

.show-on-scroll-right {
  opacity: 100;
  filter: blur(0);
  transform: translateX(0);
}

.trst-delay-100 {
  transition-delay: 100ms;
}

.trst-delay-250 {
  transition-delay: 250ms;
}

.trst-delay-500 {
  transition-delay: 500ms;
}

.course-of-week-card:nth-child(2) {
  transition-delay: 250ms;
}

.course-of-week-card:nth-child(3) {
  transition-delay: 500ms;
}

.course-of-week-card:nth-child(4) {
  transition-delay: 750ms;
}

.course-of-week-card:nth-child(5) {
  transition-delay: 1s;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(227, 43, 135);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

div > .magic {
  display: inline-block;
  position: relative;
}

div > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 1000ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

div > .magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

div > .magic > .magic-star > svg > path {
  fill: var(--purple);
}

div > .magic > .magic-text {
  animation: background-pan 4s linear infinite;
  background: linear-gradient(to right, var(--purple), var(--violet), var(--pink), var(--purple));
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
