html {
  overflow-x: hidden;
}

.hidden-on-scroll-left {
  opacity: 0;
  transition: all 2s cubic-bezier(0.51, 0.92, 0.24, 1.05);
  filter: blur(3px);
  transform: translateX(-100%);
}

.hidden-on-scroll-right {
  opacity: 0;
  transition: all 2s cubic-bezier(0.51, 0.92, 0.24, 1.05);
  filter: blur(5px);
  transform: translateX(100%);
}

.show-on-scroll-left {
  opacity: 100;
  filter: blur(0);
  transform: translateX(0);
}

.show-on-scroll-right {
  opacity: 100;
  filter: blur(0);
  transform: translateX(0);
}

.trst-delay-100 {
  transition-delay: 100ms;
}

.course-of-week-card:nth-child(2) {
  transition-delay: 250ms;
}

.course-of-week-card:nth-child(3) {
  transition-delay: 500ms;
}

.course-of-week-card:nth-child(4) {
  transition-delay: 750ms;
}
