<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.scss" />
    <link rel="stylesheet" href="/css/style.css" />
    <%- include('../partials/head'); %>
  </head>
  <body class="">
    <header><%- include('../partials/header'); %></header>

    <main class="pb-44">
      <div class="bg-[#151618] text-white pl-10 pt-10 pb-10">
        <div class="text-sm breadcrumbs">
          <ul>
            <li><a>Categories</a></li>
            <li><a>Web Development</a></li>
            <li><a>Lmao</a></li>
          </ul>
        </div>
        <div class="text-3xl"><%= course.title %></div>
        <div>Become a full stack web developer with just one single course.</div>
        <span class="badge">Best seller</span>
        <div class="rating">
          <input type="radio" name="rating-1" class="mask mask-star" />
          <input type="radio" name="rating-1" class="mask mask-star" checked />
          <input type="radio" name="rating-1" class="mask mask-star" />
          <input type="radio" name="rating-1" class="mask mask-star" />
          <input type="radio" name="rating-1" class="mask mask-star" />
        </div>
        <div>Last update: 2 months ago</div>
        <div class="pb-5">Create by name of prof</div>
      </div>
      <div class="w-full flex">
        <!-- course description etc (1st half on udemy course) -->
        <div class="w-3/4 flex-auto mr-10 ml-10">
          <div>
            <!-- What you'll learn-->
            <div class="border mt-10 p-7 rounded-box">
              <div class="text-xl font-semibold mb-7">What you'll learn</div>
              <div class="grid grid-cols-2 gap-10">
                <div class="w-full">
                  <div>
                    You will build 16 web development projects for your portfolio, ready to apply for junior developer
                    jobs.
                  </div>
                  <div>
                    You will build 16 web development projects for your portfolio, ready to apply for junior developer
                    jobs.
                  </div>
                  <div>
                    You will build 16 web development projects for your portfolio, ready to apply for junior developer
                    jobs.
                  </div>
                  <div>
                    You will build 16 web development projects for your portfolio, ready to apply for junior developer
                    jobs.
                  </div>
                </div>
                <div class="w-full">
                  <div>
                    You will learn the latest technologies, including Javascript, React, Node and even Web3 development.
                  </div>
                  <div>
                    You will learn the latest technologies, including Javascript, React, Node and even Web3 development.
                  </div>
                  <div>
                    You will learn the latest technologies, including Javascript, React, Node and even Web3 development.
                  </div>
                  <div>
                    You will learn the latest technologies, including Javascript, React, Node and even Web3 development.
                  </div>
                </div>
              </div>
            </div>

            <div class="text-xl font-semibold mb-7 mt-10">Course content</div>
            <ul class="ml-10 mb-10">
              <li><a href="#">chapter 1</a></li>
              <li><a href="#">chapter 1</a></li>
              <li><a href="#">chapter 1</a></li>
              <li><a href="#">chapter 1</a></li>
              <li><a href="#">chapter 1</a></li>
            </ul>

            <div class="text-xl font-semibold mb-7">Description</div>
            <div>
              Welcome to the Complete Web Development Bootcamp, the only course you need to learn to code and become a
              full-stack web developer. With 150,000+ ratings and a 4.8 average, my Web Development course is one of the
              HIGHEST RATED courses in the history of Udemy! At 65+ hours, this Web Development course is without a
              doubt the most comprehensive web development course available online. Even if you have zero programming
              experience, this course will take you from beginner to mastery. Here's why: The course is taught by the
              lead instructor at the App Brewery, London's leading in-person programming bootcamp. The course has been
              updated to be 2023 ready and you'll be learning the latest tools and technologies used at large companies
              such as Apple, Google and Netflix.
            </div>

            <div>Previous students' reviews</div>
          </div>
        </div>
        <!-- price tag & things (2nd half on udemy course) -->
        <div class="w-1/4 flex-auto border mr-10 ml-10 bg-white rounded-box p-2 -mt-10 shadow-2xl h-3/4 z-10">
          <img src="images/login-background.png" class="w-full rounded-box" />
          <div class="text-xl font-semibold mb-5 mt-5 ml-5">12345678910 vnd</div>
          <button class="btn w-full mb-2">add to cart</button>
          <button class="btn w-full btn-outline">buy now</button>
          <div class="ml-5 mt-5">
            <div class="font-semibold mb-2">This course includes:</div>
            <div class="ml-10">
              <div>69 videos</div>
              <div>69 videos</div>
              <div>69 videos</div>
              <div>69 videos</div>
              <div>69 videos</div>
              <div>69 videos</div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>

  <script src="/script/typing_animation.js"></script>
  <script defer src="/script/on_scroll_animation.js"></script>
</html>
