<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header.ejs'); %></header>

    <main>
      <div class="flex justify-between">
        <div class="w-full flex justify-center my-5">
          <div class="w-80 h-full flex items-center mx-8">
            <form class="form-control w-full grid" action="name" method="post">
              <span class="text-3xl font-semibold">Edit name</span>
              <label class="label mt-5">
                <span class="label-text">New name</span>
              </label>
              <input
                type="text"
                placeholder="New name"
                name="newName"
                class="input input-bordered w-full max-w-xs"
                autofocus
              />

              <button class="btn btn-block justify-self-center mt-10">Save</button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
