<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.scss"/>
  <%- include('../partials/head'); %>
</head>
<body class="">
<header><%- include('../partials/header'); %></header>

<main>
  <div class="jumbotron">
    <home><%- include('../partials/home'); %></home>
  </div>
</main>

<footer><%- include('../partials/footer'); %></footer>
</body>

<script src="/script/typing_animation.js"></script>
</html>
