<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.scss" />
    <link rel="stylesheet" href="/css/style.css" />
    <%- include('../partials/head'); %>
  </head>
  <body class="">
    <header><%- include('../partials/header'); %></header>
    <main>
      <div>
        <!-- LANDING PAGE -->
        <div class="h-screen static">
          <div class="ml-10 mt-10 hidden-on-scroll-left">
            <div
              class="pt-10 ml-10 text-6xl text-transparent font-bold bg-clip-text bg-gradient-to-r from-pink-500 to-purple-900 md:text-8xl pb-5"
            >
              Learn <br />A⁺ny
              <span id="content">
                <li style="display: none" class="active">thing.</li>
                <li style="display: none">where.</li>
                <li style="display: none">time.</li>
              </span>
            </div>
            <div class="w-1/3 ml-10 mt-5 font-normal text-xl opacity-70">
              Whether you want to learn or to share what you know, you’ve come to the right place. As a global
              destination for online learning, we connect people through knowledge.
            </div>
            <div class="ml-10 pl-10 mt-10">
              <button class="btn btn-outline mr-2 shadow-lg">Try for Free</button>
              <button class="btn bg-gradient-to-r from-blue-500 to-purple-600 border-none">Unlock the limit</button>
            </div>
          </div>
          <img
            src="images/home-cover2.png"
            class="w-1/2 absolute right-0 pr-10 top-1/3 hidden-on-scroll-right trst-delay-100"
          />
        </div>
        <!-- <hr /> -->

        <!-- END OF LANDING PAGE-->
        <!-- --------------------------- -->
        <!-- COURSE LISTING -->
        <!-- 3, 4 courses of the week-->

        <div class="h-screen bg-[#ffffff] pl-10 pr-10 ml-5 mr-5">
          <div class="ml-5 mb-2">
            <div class="text-3xl font-semibold">Students are viewing</div>
          </div>
          <!-- Card -->

          <div class="h-50 flex">
            <div
              class="carousel carousel-center max-w-md p-4 space-x-4 rounded-box hidden-on-scroll-left course-of-week-card"
            >
              <div class="card w-45 bg-base-100 shadow-lg">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Course name" /></figure>
                <div class="card-body">
                  <h2 class="card-title">
                    Course name
                    <div class="badge badge-secondary">NEW</div>
                  </h2>
                  <p>Short introduction to course.</p>
                  <div class="card-actions justify-end">
                    <div class="badge badge-outline">Programing</div>
                    <div class="badge badge-outline">Beginner</div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="carousel carousel-center max-w-md p-4 space-x-4 rounded-box hidden-on-scroll-left course-of-week-card"
            >
              <div class="card w-45 bg-base-100 shadow-lg">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Course name" /></figure>
                <div class="card-body">
                  <h2 class="card-title">
                    Course name
                    <div class="badge badge-secondary">NEW</div>
                  </h2>
                  <p>Short introduction to course.</p>
                  <div class="card-actions justify-end">
                    <div class="badge badge-outline">Programing</div>
                    <div class="badge badge-outline">Beginner</div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="carousel carousel-center max-w-md p-4 space-x-4 rounded-box hidden-on-scroll-left course-of-week-card"
            >
              <div class="card w-45 bg-base-100 shadow-lg">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Course name" /></figure>
                <div class="card-body">
                  <h2 class="card-title">
                    Course name
                    <div class="badge badge-secondary">NEW</div>
                  </h2>
                  <p>Short introduction to course.</p>
                  <div class="card-actions justify-end">
                    <div class="badge badge-outline">Programing</div>
                    <div class="badge badge-outline">Beginner</div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="carousel carousel-center max-w-md p-4 space-x-4 rounded-box hidden-on-scroll-left course-of-week-card"
            >
              <div class="card w-45 bg-base-100 shadow-lg">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Course name" /></figure>
                <div class="card-body">
                  <h2 class="card-title">
                    Course name
                    <div class="badge badge-secondary">NEW</div>
                  </h2>
                  <p>Short introduction to course.</p>
                  <div class="card-actions justify-end">
                    <div class="badge badge-outline">Programing</div>
                    <div class="badge badge-outline">Beginner</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 10 best viewing courses -->
        <div class="h-screen bg-gradient-to-r from-cyan-500 to-blue-500"></div>
        <!-- <div>Best viewing courses of all time</div> -->
        <!-- 10 lastest courses-->
        <!-- list of most sub subject of the week -->
        <!-- feature topics by categories-->
        <!-- sign up button for instructor -->
      </div>

      <!-- What customer said -->
      <div class="bg-white mt-5 mb-5">
        <div class="pl-10 pt-5">
          <div class="text-3xl font-bold pl-10">A⁺cademy is trusted by people around the world.</div>
        </div>
        <div class="grid grid-cols-3 gap-7 p-10">
          <div class="p-10 hidden-on-scroll-left">
            <div class="flex">
              <img src="images/notion_app_logo.png" class="w-10" />
              <div class="text-xl font-semibold pt-2 pl-2">Notion</div>
            </div>
            <div class="pt-3 opacity-75">
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quae quos optio debitis harum modi
              nesciunt voluptates. Dolor asperiores obcaecati maxime dignissimos distinctio, iure illum dicta
              repellendus enim ad odio."
            </div>
            <div class="flex pt-3">
              <img src="images/user1.png" class="w-10 h-10 mt-1" />
              <div class="pl-2">
                <div class="font-semibold w-full">Rahim Makini</div>
                <div class="opacity-75">Director of product</div>
              </div>
            </div>
          </div>
          <div class="p-10 hidden-on-scroll-left trst-delay-250">
            <div class="flex">
              <img src="images/discord_app_logo.png" class="w-10" />
              <div class="text-xl font-semibold pt-2 pl-2">Discord</div>
            </div>
            <div class="pt-3 opacity-75">
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quae quos optio debitis harum modi
              nesciunt voluptates. Dolor asperiores obcaecati maxime dignissimos distinctio, iure illum dicta
              repellendus enim ad odio."
            </div>
            <div class="flex pt-3">
              <img src="images/user2.png" class="w-10 h-10 mt-1" />
              <div class="pl-2">
                <div class="font-semibold w-full">Vinay Hiremath</div>
                <div class="opacity-75">Head of engineering</div>
              </div>
            </div>
          </div>
          <div class="p-10 hidden-on-scroll-left trst-delay-500">
            <div class="flex">
              <img src="images/figma_app_logo.png" class="w-10 rounded-lg" />
              <div class="text-xl font-semibold pt-2 pl-2">Figma</div>
            </div>
            <div class="pt-3 opacity-75">
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quae quos optio debitis harum modi
              nesciunt voluptates. Dolor asperiores obcaecati maxime dignissimos distinctio, iure illum dicta
              repellendus enim ad odio."
            </div>
            <div class="flex pt-3">
              <img src="images/user3.png" class="w-10 h-10 mt-1" />
              <div class="pl-2">
                <div class="font-semibold w-full">Marie Szuts</div>
                <div class="opacity-75">Head of people ops</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="text-center pt-32 pb-10">
        <div class="text-5xl font-semibold">Try A⁺cademy today</div>
        <div class="mt-3 text-xl opacity-75 mb-3">Get started for free.</div>
        <button class="btn">Try A⁺cademy free</button>
        <div class="mt-3 opacity-75">Unlock all features & courses? Check out our pricing plans.</div>
        <img src="/images/sitting-character.png " class="w-64 ml-10 object-cover" />
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
  <script src="/script/typing_animation.js"></script>
  <script defer src="/script/on_scroll_animation.js"></script>
</html>
