<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="flex justify-between py-8">
        <div class="w-full flex justify-center">
            <div class="w-80 h-full flex items-center mx-8">
                <form class="form-control w-full grid" action="/login/password" method="post">
                    <span class="text-3xl font-semibold">Sign in</span>
                    <label class="label mt-5">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="text" placeholder="Email" name="email" class="input input-bordered w-full max-w-xs"
                           autofocus/>
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" placeholder="Password" name="password"
                           class="input input-bordered w-full max-w-xs"/>
                    <div class="flex justify-between mt-5">
                        <label class="label cursor-pointer">
                            <input type="checkbox" checked="checked" class="checkbox"/>
                            <span class="label-text ml-2">Remember me</span>
                        </label>
                        <button>Forgot password?</button>
                    </div>
                    <div class="divider mt-7">Or continue with</div>
                    <div class="flex justify-around mt-3">
                        <button class="btn w-24 btn-outline">
                            Sign up
                        </button>
                        <a href="/oauth2/redirect/facebook" class="btn w-24 btn-outline">
                            <i class="fa-brands fa-facebook fa-lg"></i>
                        </a>
                        <button class="btn w-24 btn-outline">
                            <i class="fa-brands fa-google fa-lg"></i>
                        </button>
                    </div>
                    <button class="btn btn-block justify-self-center mt-10">Login</button>
                    <% if (messages.errors) { %>
                        <div class="alert alert-error shadow-lg mt-5">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6"
                                     fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                                <span><%= messages.errors %></span>
                            </div>
                        </div>
                    <% } %>
                </form>
            </div>
        </div>
        <div class="max-max-h-[32rem] flex justify-end">
            <img class="h-full object-cover" src="images/login-background.png">
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>