<div>
  <div>Course title</div>
  <div>video</div>
  <div>description</div>
  <div>outcome of the course</div>
  <div>syllabus</div>
  <div>stars & review</div>
  <div>list of instructor</div>
</div>
